@font-face {
	font-family: Acknowledgement;
	src: url('../fonts/GOODTIME.eot');
	src: local("Acknowledgement"), url('../fonts/GOODTIME.woff');
}

@font-face {
	font-family: ChanticleerRomanNF-Bold;
	src: url('../fonts/ChanticleerRomanNF-Bold.eot');
	src: local("ChanticleerRomanNF-Bold"),
		url('../fonts/ChanticleerRomanNF-Bold.woff');
}


div.topContener {
	width: 800px;
	height: 215px;
	margin: 15px auto 10px auto;
}

div.header {
	width: 590px;
	height: 215px;
	float: right;
	margin: auto;
	position: relative;
	background: url(../images/logo.png) top center no-repeat !important;
}

div.menu {
	float: left;
	width: 200px;
	height: 215px;
	margin: auto 10px auto auto;
	background-color: rgba(00, 00, 00, 0.5);
	filter: alpha(opacity = 50);
	position: relative;
}

div.content {
	width: 800px;
	min-height: 500px;
	overflow:auto;
	margin: auto;
	clear: left;
	background-color: rgba(00, 00, 00, 0.5);
	filter: alpha(opacity = 50);
	position: relative;
}

div.mainPageLeft {
	width: 50%;
	min-height: 500px;
	margin: auto;
	background-color: rgba(255, 255, 255, 0.11);
	filter: alpha(opacity = 50);
	float: left;
	position: relative;
}

div.mainPageRight {
	width: 50%;
	height:50%;
	min-height: 250px;
	background-color: rgba(255, 255, 255, 0.20);
	float: right;
	clear: right;
}

div.mainPageRight2 {
	width: 50%;
	height:50%;
	min-height: 250px;
	background-color: rgba(255, 255, 255, 0.15);
	float: right;
}

div.formBlockLeft {
	width: 25%;
	min-heigth: 600px;
	margin: auto;
	float: left;
	position: relative;
}

div.formBlockRight {
	width: 75%;
	min-heigth: 600px;
	margin: auto;
	float: right;
	clear: right;
	position: relative;
}

div.footer {
	width: 800px;
	height: 50px;
	margin: 15px auto 0px auto;
	clear: left;
	background-color: rgba(00, 00, 00, 0.5);
	filter: alpha(opacity = 50);
	position: relative;
}

div.footerblock {
	width: 160px;
	margin: auto;
	position: relative;
	float: left
}

#gallery {
	height: 600px;
	overflow: hidden;
	background: url(../images/gallerry-bg.gif) 0 0 repeat-x;
}

/*===== gallery =====*/
.roundabout-holder {
	list-style: none;
	width: 600px;
	height: 500px;
	margin: 10px;
}

.roundabout-moveable-item {
	width: 350px;
	height: 500px;
	color: #030303;
	cursor: pointer;
	border: 3px solid #ccc;
	border: 3px solid rgba(0, 0, 0, 0.08);
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

.roundabout-moveable-item a{
	font-size: 1px;
	text-decoration: none;
	color: #030303;

}

.roundabout-moveable-item img {
	width: 100%;
	opacity: 0.6;
}

.roundabout-in-focus img {
	opacity: 1;
}

.roundabout-in-focus {
	opacity: 1;
	width: 80%;
	color: white;
	background-color: rgba(255, 255, 255, 0.02);
	border: 3px solid rgba(255, 255, 255, 0.05);
}
.roundabout-in-focus a{
	font-size: 18px;
	text-decoration: none;
	color: gray;

}