@font-face { 
  font-family: Acknowledgement; 
    src: url('../fonts/GOODTIME.eot'); 
    src: local("Acknowledgement"), url('../fonts/GOODTIME.woff'); 
} 

@font-face { 
  font-family: ChanticleerRomanNF-Bold; 
    src: url('../fonts/ChanticleerRomanNF-Bold.eot'); 
    src: local("ChanticleerRomanNF-Bold"), url('../fonts/ChanticleerRomanNF-Bold.woff'); 
} 

div.top{
	width: 800;
	height: 215px;
	margin: 15px auto 10px auto;

}

div.header {
	width: 590;
	height: 215px;
	float: right;
	margin: auto; 
	position:relative;
	background: url(../images/logo.png) no-repeat center top

}

div.menu { 
	float: left;
	width: 200px;
	height: 215px;
	margin: auto 10px auto auto; 
	/*background-color: #232323;*/
	background-color: rgba(00,00,00,0.5);
	filter: alpha(opacity=50);
	position:relative;
}

div.content {
	width: 800px;
	min-height: 500px;
    
	clear: left;
	background-color: rgba(00,00,00,0.5);
	filter: alpha(opacity=50);
	position:relative;
}

div.downbar{
	width: 800px;
	height: 50px;
    margin: 15px auto 0px auto;
	clear: left;
	background-color: rgba(00,00,00,0.5);
	filter: alpha(opacity=50);
	position:relative;
	color:red;text-decoration:none;font-size:13px 
}

div.mainPageLeft
{
	width: 400 px;
	height: 500 px;
	margin: auto; 
	background-color: rgba(255,255,255,0.5);
	filter: alpha(opacity=50);
	float: left;
	position:relative;
}

div.mainPageRight
{
	width: 400 px;
	height: 50%;
	background-color: rgba(00,00,00,0.7);
	float: left;
}


div.downbartext{width:160;text-align:center;font-size:15px;margin-top:10px;
	position:relative;float: left }
div.downbartext a{color:#606060 ;text-decoration:none;}
div.downbartext a:hover{color:#606060 ;text-decoration:underline;}

div.text {font-family:"Tahoma";color:#A3A3C2;padding:20px 20px 20px 20px;font-size:15px;}

menu{margin-left:-40px}
menu ul{list-style:  none;padding: 0px;margin:0 px}
menu ul li {width:200px;overflow:hidden;vertical-align:top;margin-left:-50 px}
menu ul li a{margin-left:10px;color:#B80000 ;text-transform:uppercas;font-size:18px;line-height:1.6em;font-family:"Acknowledgement", Helvetica, sans-serif;text-decoration:none;letter-spacing:0px;display:block;text-shadow:1px 1px #180000  }
menu ul li.current {background-color:#300000} 
menu ul li.current a:hover {background-color:#300000;text-decoration:none;}
menu ul li.other a:hover{margin-left:20px;font-size:19px;;text-decoration:none} 
menu ul li.other:hover {background-color:#606060; -moz-transform: rotate(-2deg);
    -moz-box-shadow: 10px 10px 20px #000000;
    -webkit-transform: rotate(-2deg);
    -webkit-box-shadow: 10px 10px 20px #000000;
    transform: rotate(-2deg);
    box-shadow: 10px 10px 20px #000000;}
	
input[type=text]
{
    background-color: #2E2E2E;
    border:solid 0px;
    color: #979797;
    height: 28px;
    padding-left:0px;
    width: 191px;
}
input[type=submit]
{
    background-color: #300000;
    color: #B80000;
    height: 24px;
    width: 103px;
	border:solid 0px;
	margin-left:120px;
    text-transform:uppercase;
	font-family:"Acknowledgement"
}
	/*
menu ul li a:hover {margin-left:30px;text-decoration:none}
menu ul li:hover {background-color:#606060; -moz-transform: rotate(-2deg);
    -moz-box-shadow: 10px 10px 20px #000000;
    -webkit-transform: rotate(-2deg);
    -webkit-box-shadow: 10px 10px 20px #000000;
    transform: rotate(-2deg);
    box-shadow: 10px 10px 20px #000000;}*/
	
#header h1 { display: block; width: 228px; margin: 0 auto; padding: 0 }
#header h1 a { float: left; margin-top: 25px; width: 245px; height: 42px; background: url(../images/templatemo_logo.png); text-indent: -10000px; }

#gallery {
		height:600px;
		overflow:hidden;
		background:url(../images/gallerry-bg.gif) 0 0 repeat-x;
	}
	
	/*===== gallery =====*/
.roundabout-holder  { 
	 list-style: none;
	width:600px;
	height:150px;
	margin:10px;
}
.roundabout-moveable-item {
   width: 500px;
   height: 100px;
   color:#030303;
   cursor: pointer;
	 border:3px solid #ccc;
	 border:3px solid rgba(0, 0, 0, 0.08);
   border-radius:4px;
	 -moz-border-radius:4px;
	 -webkit-border-radius:4px;
}

.roundabout-moveable-item img{
		width:80%;
}
.roundabout-in-focus {
	opacity:0.5;
	color:white;
	border:3px solid rgba(0, 0, 0, 0.2);
}

.roundabout-in-focus a {
	opacity: 1;
	width: 80%;
	color: white;
	background-color: rgba(255, 255, 255, 0.02);
	border: 3px solid rgba(255, 255, 255, 0.05);
}

