
#contentText {
	font-family: "Tahoma";
	color: #A3A3C2;
	padding: 20px 20px 20px 20px;
	font-size: 15px;
}

#footerText
{
	color: red;
	text-decoration: none;
	font-size: 15px;
	text-align: center;
}

#footerText a{
	color: #606060;
	text-decoration: none;
}

#footerText a:hover {
	color: #606060;
	text-decoration: underline;
}

#menuText ul {
	list-style: none;
	padding: 0px;
	margin: auto auto auto auto
}

#menuText ul li {
	width: 200px;
	overflow: hidden;
	vertical-align: top;

}

#menuText ul li a {
	margin-left: 10px;
	color: #B80000;
	text-transform: uppercas;
	font-size: 17px;
	line-height: 1.6em;
	font-family: "Acknowledgement", Helvetica, sans-serif;
	text-decoration: none;
	letter-spacing: 0px;
	display: block;
	text-shadow: 1px 1px #180000
}

#menuText ul li.current {
	background-color: #300000
}

#menuText ul li.current a:hover {
	background-color: #300000;
	text-decoration: none;
}

#menuText ul li.other a:hover {
	margin-left: 20px;
	font-size: 18px;
	text-decoration: none
}

#menuText ul li.other:hover {
	background-color: #606060;
	-moz-transform: rotate(-2deg);
	-moz-box-shadow: 10px 10px 20px #000000;
	-webkit-transform: rotate(-2deg);
	-webkit-box-shadow: 10px 10px 20px #000000;
	transform: rotate(-2deg);
	box-shadow: 10px 10px 20px #000000;
}
#galery

input[type=text] {
	background-color: #2E2E2E;
	border: solid 0px;
	color: #979797;
	height: 16px;
	padding-left: 0px;
	width: 191px;
}

input[type=submit] {
	background-color: #300000;
	color: #B80000;
	height: 24px;
	width: 103px;
	border: solid 0px;
	margin-left: 120px;
	text-transform: uppercase;
	font-family: "Acknowledgement"
}

body {
	margin: 0px;
	padding: 0px;
	color: #c8c8c8;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	line-height: 1.5em;
	background: #232323 url(../images/bg.png) repeat-x !important;
	background-position: top;
}
